doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:300,700,400' rel='stylesheet')
  link(href='css/test/reset.css' rel='stylesheet')
  // CSS reset
  link(href='css/test/style.css' rel='stylesheet')
  // Resource style
  // Modernizr
section.cd-intro
  .cd-intro-content.mask
    h1(data-content='Welcome to our website')
      span Animated Intro Section
    p A site for sharing data used in machine learning to predict
    p bugs in projects
    .action-wrapper
      p 
        a.cd-btn.main-action(href='/login') Login
        a.cd-btn(href='/') Guide
// Resource jQuery
