extends default


block content
	link(href='css/style.css' rel='stylesheet')
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js").
	script.
		$(document).ready(function(){
			$('#home').addClass('active');
		});
	div
		p.firstP Welcome to BGU repository mining, Here you can examine and download datasets that
		p can be used in machine learning to develop bug prediction models.
		p.firstP You can submit a request for a new project to be analyze and uploaded to the site but
		p first you must be logged-in, registration is free.
		p.firstP
		p.firstP
	if userID !== undefined
		div.requestForm
			h1 Request project
			form(action="request/project" method="POST")
				if message && message.length
					error #{message}
				input(type="text" id="githubID" name="gitHub" placeholder="GitHub key.." required)
				input(type="text" id="jiraID" name="jira" placeholder="Jira key.." required)
				div.container(style="")
					input(type="submit")
	else
		block login
		block register